<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Conductor</title>

</head>
<body>
   <header>
     <h1>Conductores Disponibles</h1>
   </header>
    
   <main>
    <form>
        <label>Nombre</label>
        <imput type="text" placeholder="ingresar nombre"/>
        <label>Apellido</label>
        <imput type="text" aria-placeholder="ingrese apellido"/>
        <imput type="button"value>INGRSAR CONDUCTOR</imput>

    </form>
   </main>
    <footer>
        <p>BY OrtegaDaiana Y MerilesWalter</p>
    </footer>
</body>
</html>