<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Viajes</title>
</head>
<body>

<h1>Listado de Viajes</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID Viaje</th>
            <th>Tipo</th>
            <th>Costo</th>
            <th>Fecha</th>
            <th>Estado</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="v : ${lista}">
            <td th:text="${v.viajeId}"></td>
            <td th:text="${v.tipoViaje}"></td>
            <td th:text="${v.costo}"></td>
            <td th:text="${v.fecha}"></td>
            <td th:text="${v.estadoViaje}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>