<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Registrar Vehículo</title>
</head>

<body>

    <h1>Ingresar Vehículo</h1>

    <!-- Formularo que envía al controller /guardarVehiculo -->
    <form th:object="${nuevoVehiculo}" th:action="@{/guardarVehiculo}" method="post">

        <label>Patente</label><br>
        <input type="number" th:field="*{patente}" placeholder="Ingresar patente"><br><br>

        <label>Marca</label><br>
        <input type="text" th:field="*{marca}" placeholder="Ingresar marca"><br><br>

        <label>Modelo</label><br>
        <input type="text" th:field="*{modelo}" placeholder="Ingresar modelo"><br><br>

        <label>Tipo de Vehículo</label><br>
        <select th:field="*{tipoVehiculo}">
            <option value="Auto">Auto</option>
            <option value="Moto">Moto</option>
            <option value="Camioneta">Camioneta</option>
        </select><br><br>

        <label>Estado del Vehículo</label><br>
        <select th:field="*{estadoVehiculo}">
            <option value="true">Activo</option>
            <option value="false">Inactivo</option>
        </select><br><br>

        <button type="submit">Guardar Vehículo</button>
    </form>

</body>
</html>