<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Walter Meriles</title>
</head>
<body>

    <main></main>

    <form>
    <label> for = "" >nombre </label>
    <input type="text">
    </form>




<h1> Hola html</h1>

  <form data-th-object="${nuevoVehiculo}" data-th-action="@{/guaradarVehiculo}" method="post" enctype="multipart/form-data">
        <label> Nombre </label>
        <imput type = "tex" placeholder = "Ingresar Nombre" mostrar Nombre data-th-field="*{Nombre}"/>
        <label>Apellido</label>
        <imput type = "tex" placeholder = "Ingresar Apellido"mostrar Apellido data-th-field="*{Apellido}"/>
        <button type = "submit">INGRESAR VEHICULO</button>

        

    </form>
    
    


    </main>
    

</body>
</html>
